<!DOCTYPE html >
<html   xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
				
				<style type="text/css">
				
				
							   
				
				</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#000;">
  <a class="navbar-brand" href="#" style="color: #FFF">Home	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #FFF">gestion des clients <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFF">gestion des tables</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #FFF">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" >Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color: #FFF">statistique</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<section layout:fragment="pageCentent">
</section>
</body>
</html>