<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
        <h1>gestion des tables</h1>
        <hr>
        <h2>modifier tables</h2>

           <form action="#" th:action="@{/savetable}" th:object="${tablee}" method="POST">
        
            <input type="hidden" th:field="*{numTable}" >
        
            <input type="text" th:field="*{nbCouvert}" placeholder=" Name" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{typeTable}" placeholder="prenom" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{supplement}" placeholder="date de naissanc" class="form-control mb-4 col-4"><br> 



            <button type="submit" class="btn btn-info col-2"> modigier table</button>
        </form>  

        <hr>

    </div>
</body>
</html>