<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container">
        <h1>Client Management System</h1>
        <hr>
        <h2>Save client</h2>

           <form action="#" th:action="@{/saveClient}" th:object="${client}" method="POST">
        
            
        
            <input type="text" th:field="*{nomClient}" placeholder=" Name" class="form-control mb-4 col-4"> <br>

            <input type="text" th:field="*{prenomClient}" placeholder="prenom" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{dateDeNaissanceClient}" placeholder="date de naissanc" class="form-control mb-4 col-4"><br> 
            
            <input type="text" th:field="*{courrielClient}" placeholder="Email" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{telClient}" placeholder="tel" class="form-control mb-4 col-4"><br><br>

            <button type="submit" class="btn btn-info col-2"> Save Employee</button>
        </form>  

        <hr>

        <a th:href="@{/gestionclient}"> Back to Employee List</a>
    </div>
</body>
</html>