<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert </title>
		<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
								
	</head>
	<body>
      
		<div class="container " >
			<div class="jumbotron">
			<div class="card">
  				<div class="card-header">
           <h2>gestion des clients</h2> 
           </div>
 	 	<div class="card-body">
    		<h3 class="card-title">list des clients</h3>
    		<div class="row">
    			<div class="col-md-12 text-right" >
           				<a class="btn btn-success badge-pill" style="width: 80px;" th:href ="@{/addclient}"> ajouter</a>
				</div>		
    		</div>
    		<br>
			
			
		<table class="table table-dark table-hover table-bordered">
            <thead >
                <tr>
                    <th scope="col" > ID</th>
                    <th scope="col" >NOM</th>
                    <th scope="col">PRENOM</th>
                    <th scope="col">DATE DE NAISSANCE</th>
                    <th scope="col">COUREIL</th>
                    <th scope="col">TEL</th>
                    <th class="text-right"  >action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c:${listClients}" >
                    <td th:text="${c.idClient}"></td>
                    <td th:text="${c.nomClient}"></td>
                    <td th:text="${c.prenomClient}"></td>
                    <td th:text="${c.dateDeNaissanceClient}"></td>
                    <td th:text="${c.courrielClient}"></td>
                    <td th:text="${c.telClient}"></td>
                    <td> 
                    	<a class="btn btn-primary badge-pill " style="width: 100px;" th:href="@{/updateclient/{idClient}(idClient=${c.idClient})}" > modifier</a>
                     	<a class="btn btn-danger badge-pill " style="width: 100px;" th:href="@{/deleteclient/{idClient}(idClient=${c.idClient})}" > supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        </div>
        </div>
        </div>
        </div>
        
    <!--    <div>
       		total rows [[${totalItems}]]   page -   [[${currentPage}]] of [[${totalPage}]] 
       		&nbsp; - &nbsp;
       		<span th:each ="i: ${#numbers.sequence(1,totalPage)}">
       			<span> [[${i}]]</span>&nbsp;&nbsp;
       		</span>
       
       </div> 
        
        <nav aria-label="Page navigation example">
  			<ul class="pagination">
    			<li class="page-item"  th:each ="pageNum,status:${pages}">
    			<a  th:class="${status.index==currentPage?'btn btn-primary' : 'btn'}" th:href="@{clients(pageNum=${status.index})}" th:text="${status.index}"></a>
    			</li>

  			</ul>
		</nav>
		
		
	  </div>
</div>
	</div>
	
				<form  method="get"  th:action="@{clients}">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="keyword" >
					<button class="btn btn-success"> chercher</button>
				</div>
			</form> --> 
	
	
		<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
		<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	</body>
</html>