<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
      
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

				<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" 
				href="webjars/bootstrap/3.4.1/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/3.4.1/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>